<script type="importmap">
    {
        "imports": {
            "example": "https://cdnjs.cloudflare.com/ajax/libs/chessground/9.2.1/chessground.min.js"
        }
    }
</script>

<script type="module">
    import { Chessground } from "example";

    const config = {};
    const ground = Chessground(document.getElementById('board'), config);
</script>

<div id="board" class="m-3" style="width: 400px; height: 400px;"></div>