<script type="module">
    import { Chessground } from "chessground";

    const config = {};
    const ground = Chessground(document.getElementById('board'), config);
</script>

<div id="board" class="m-3" style="width: 400px; height: 400px;"></div>